my_user_agent = 'insert_here'
my_client_id = 'insert_here'
my_client_secret = 'insert_here'
my_username = 'insert_here'
my_password = 'insert_here'

wallet = 'insert_here'

connection_string = 'insert_here'
node_ip = 'insert_here'
